/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  /* width: 60%;
  padding-left: 165px;
  padding-top: 50px; */
  display: flex;
  width: 100%;
  justify-content: center;

}

.container {
  max-width: 800px;
  margin-top: 3rem;
}

.buttons-container {
   display: flex;
  /*overflow: hidden; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 9px; */
} 

.inner-container {
  /* width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 9px;
  margin-top: 10px;
}

.number {
  padding: 40px 60px;
  font-size: 30px;
}

.control {
  padding:40px 60px;
  margin-right: 30px;
  overflow: hidden;
  font-size: 30px;
}

.button-container {
  width: 33.3%;
  border: 1px black solid;
  box-shadow: none;
  border-style: none;
  box-sizing: none;
}

.control-container {
  /* width: 30%;
  overflow: hidden; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 9px;
  margin-left: 10px;
  margin-top: 10px;
}

button.subtract {
  padding: 40px 56.5px;
}

button.multiply {
  padding: 40px 54.5px;
}

button.add {
  padding: 40px 53px;
}

button.divide {
  padding: 40px 57px;
}

.zero {
  justify-content: left;
}

.total {
  padding: 40px 60px;
  font-size: 30px;
}

.total-wrapper {
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
  font-size: 50px;

}

.total-container {
  border: 1px black solid;
  max-height: 100px;
  width: 95%;

}

.control-container .button-container {
  width: 100%;
}


